html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.emberWallpaper {
    background: url('../img/backgrounds/wallpaper_2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.emberGradient {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,84,166,1) 100%);
}

.emberGlassCard {
    background-color: rgba(0,0,0,0.65);
}

.emberGlassButton {
    background-color: rgba(0,0,0,0);
    transition: background-color 0.25s;
}

.emberGlassButton:hover {
    background-color: rgba(0, 68, 160, 0.65);
    color: #000;
}

.dappCard { 
    border: 2px solid transparent; /* <- here */
    transition: border 0.5s;
    text-decoration: none; /* I added this for clarity of effect */
}

.dappCard:hover {
    border: 2px solid #fff;
}